h1 {
    text-align: center;
    background-color: #9c2c13;
    color: white;
    padding: 30px;
}

.wf1 fieldset {
    border: none;
    background-color: rgb(214, 213, 213);
    border-radius: 2.5px;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

fieldset span {
    color: darkblue;
    font-weight: bold;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 380px;
    appearance: none;
}

textarea {
    height: 75px;
}
.wf1 select {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 405px;
    appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 408px;
    margin: 25px 0 17px;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input[type="submit"]:hover {
  background-image: linear-gradient(#b33416, #7f2410);
  cursor: pointer;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

.rating-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.rating-option label {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 4px;
}

footer {
    text-align: center;
    background-color: #9c2c13;
    color: white;
    margin-top: 25px;
    padding: 10px;
}